<%= form_for page do |f| %>

  <div id="page_menu_container">
    <%= f.label :menu, 'Meny' %>
    <%= f.text_field :menu %>
    <% unless page.errors.get(:menu).empty? %>
      <div class="errors"><%= page.errors.get(:menu).join %></div>
    <% end %>
  </div>

  <div id="page_title_container">
    <%= f.label :title, 'Titel' %>
    <%= f.text_field :title %>
    <% unless page.errors.get(:title).empty? %>
      <div class="errors"><%= page.errors.get(:title).join %></div>
    <% end %>
  </div>

  <%= f.label :subtitle, 'Undertitel' %>
  <%= f.text_field :subtitle %>

  <div id="page_pos_container">
    <%= f.label :pos, 'Position' %>
    <%= f.text_field :pos %>
    <% unless page.errors.get(:pos).empty? %>
      <div class="errors"><%= page.errors.get(:pos).join %></div>
    <% end %>
  </div>

  <%= f.label :content, 'Innehåll' %>
  <%= f.text_field :content %>


  <%= f.submit 'Skapa' %>

<% end %>
