<!DOCTYPE html>
<html>
<head>
  <title>Amon Revision AB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="root">

  <div id="header">
    <div id='logo'>
      <%= link_to image_tag 'amonrevision.jpg', width:"300", border:"0", alt:"Amon Revision AB" %>
    </div>
    <ul id='navigation'>
      <% Page.order(:pos).each do |page| %>
        <li><%= link_to page.menu, page %></li>
      <% end %>
    </ul>
  </div>

  <div id="contents">
    <% unless flash.keys.empty? %>
      <% flash.each do |key,val| %>
        <div class="flash <%= key %>">
          <%= val %>
        </div>
      <% end %>
    <% end %>

    <%= yield %>

    <div id='contents_footer'>
      <%= image_tag 'far.png', width:"55", alt:"Far" %>
    </div>
    <div class="clear"></div>
  </div>

  <div id="footer">
    &copy <%= Time.now.year %> Amon Revision AB. All Rights Reserved.
  </div>

</div>

</body>
</html>
