<!DOCTYPE html>
<html>
<head>
  <title>Amon Revision</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="root">

  <div id="header">
    <ul id='navigation'>
      <% Page.order(:pos).each do |page| %>
        <li><%= link_to page.menu, page %></li>
      <% end %>
    </ul>
  </div>

  <div id="contents">
    <% unless flash.keys.empty? %>
      <% flash.each do |key,val| %>
        <div class="flash <%= key %>">
          <%= val %>
        </div>
      <% end %>
    <% end %>

    <%= yield %>
  </div>
</div>

</body>
</html>
